
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

html, body {
    height: 100%;
    max-width: 100vw;
}

.contenedor {
    height: 100vh;
    max-width: 100vw;
}

.header {
    height: 122px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    width: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 24px;
}

nav {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.parking {
    color: #FFFFFF;
}


.zone {
    color: #EAB308;
}

.container {
    height: calc(100% - 122px);
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-info {
    height: 100%;
    width: 35%;
    position: relative;
}

.info {
    height: 83%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 25px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.texto, .disponible {
    word-spacing: .5rem;
}

.texto {
    height: 70px;
}

.disponible {
    height: 30px;
    display: flex;
    align-items: center;
    align-items: center;
}

.circle {
    height: 15px;
    width: 20px;
    background-color: #FFE701;
    border-radius: 10px;
    margin-left: 5px;
    display: inline-block;
    
}

#disponibilidad {
    margin-left: 0.313rem;
    display: inline-block;
}

button {
    display: block;
    position: absolute;
    top: 87%;
    background-color: #000; /* Color de fondo oscuro */
    color: #FFE701; /* Texto dorado */
    border: none; /* Sin borde */
    padding: 0.625rem 2.188rem; /* Espaciado interno */
    text-align: center; /* Texto centrado */
    font-size: 1rem; /* Tamaño de fuente */
    font-weight: bold;
    border-radius: 1.25rem; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

button:hover {
    background-color: #ec2023;
}

.container-spaces {
    height: 100%;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    position: relative;
}

.container-A, .container-B {
    height: 32%;
    width: 93%;
    display: flex;
    flex-direction: row;
}

.container-A {
    border-bottom: 7px solid black;
}

.container-B {
    border-top: 7px solid black;
}

.msjParkingZone {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.spaceA, .spaceB {
    height: 100%;
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 7px solid black;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    color: #E3001B;
}

.spaceA p, .spaceB p {
    height: calc(100% - 5px);
    width: 90%;
    background-color: transparent;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.spaceA p {
    margin-bottom: 5px;
}

.spaceB p {
    margin-top: 5px;
}

.spaceA:last-child, .spaceB:last-child {
    border: none;
}

.alerta {
    height: 50%;
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 30px;
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 2;
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Oculta el elemento visualmente */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.cabecera {
    height: 30%;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #000;
    position: relative;
}

.cabecera .logo img {
    width: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 24px;
}

.cabecera h2 {
    color: #FFFFFF;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alerta .botones {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alerta button {
    position: relative;
    display: inline-block;
}

#overlay {
    position: fixed; /* Asegura que cubra toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
    z-index: 1; /* Asegúrate de que esté por encima del contenido pero debajo de la alerta */
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Oculto */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transición suave */
}

.alerta-activa, .overlay-activo {
    opacity: 1 !important; /* Hacer visible */
    visibility: visible !important; /* Asegurarse de que se vea */
}
